<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-6 offset-md-3">
      <h1 class="display-4 text-center"><%= campground.name%></h1>
      <div class="img-thumbnail ">
        <img class="img-fluid" src="<%= campground.image%>" alt="">
      </div>
      <P>
        <%= campground.description%>
      </P>
    </div>
    
    <div class="col-6 offset-md-3">
      <a href="/campgrounds/<%= campground._id %>/edit"> Edit Post </a>
    </div>
      
    <div class="col-6 offset-md-3">
    <% campground.comments.forEach((comment)=>{ %>
      <p>
        <strong>
          <%= comment.author %>
        </strong>
        - <%= comment.text %>
        <% }) %>  
      </p>
    </div>
    <a href="/campgrounds/<%=campground.id%>/comments/new">
      <button class="btn btn-primary" type="button">Add comment</button>
    </a>
  </div>
</div>
<% include ../partials/footer %>